<h1>Listing ingredient_groups</h1>

<table>
    <tr>
      <th>Ingredient Group</th>
      <th>Ingredient</th>
      <th></th>
    </tr>

    <% @ingredient_groups.each do |ingredient_group| %>
      <tr>
        <td>
	 <strong><%= link_to ingredient_group.name,ingredient_group %></strong>
	</td>

	<% i=0 %>
	<% @ingredients.each do |ingredient| %>
	 
 	   <% if ingredient_group.id == ingredient.groupid && i<5 %>
	       <td>
		 <%= link_to ingredient.name,ingredient %>
	       </td>	
	     <% i += 1 %>
	   <% end %>
	 <% end %>

	 <td><strong><%= link_to "More", ingredient_group %></strong></td>
      </tr>
    <% end %>

</table>

<br>

<%= link_to 'New Ingredient group', new_ingredient_group_path %>
