<h1>My Favorites</h1>

<table>
  <thead>
    <tr>
      <th>Recipe Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= link_to Recipe.find(favorite.recipeid).title, Recipe.find(favorite.recipeid) %></td>
        <td><%= User.find(favorite.userid).name %></td>
	<td>
	  <button><%= link_to "Dislike", favorite, method: :delete %></button>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

