<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>
        <td><%= User.find(recipe.userid).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', ingredient_groups_path %>
