// Place all the styles related to the Ingredient_Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
margin:30px;
}

#main_ingre{
padding:15px 30px 15px 5px;
margin:15px 0;
}

#main_ingre img{
width:80px;
height:80px;
}

#main_ingre a{
color:#D95B1C;
	&:hover{
	color:#ADB2AD;
	}
}

td{
padding:0;
margin:0;
}

#ingre{
padding:0;
width:170px;
}

#ingre img{
width:50px;
height:50px;
}

#ingre a{
color:#F27537;
	&:hover{
	color:#ADB2AD;
	}
}


/* For showing ingredients in all ingredients page*/

.ingre img{
width:50px;
height:50px;
}

.ingre{
margin:30px 0 30px 50px;
}

.ingre li{
width:120px;
height:120px;
}

#ingredients{
margin:30px;
}

#ingredients a{
float:left;
}